

<div class="card col-lg-3 col-md-4 col-sm-6"  [ngStyle]="{'background-color': (selected) ? 'rgb(204, 197, 185)' : 'white' }">

  <div class="header">
  <h2 class="title">{{flight.from}} - {{flight.to}}</h2>
  </div>
  <div class="content">
  <p>Flight-No.: #{{flight.id}}</p>
  <p>Date: {{flight.date | date:'dd.MM.yyyy HH:mm'}} <strong *ngIf="flight.delayed">(DELAYED)</strong></p>

  <p>
  <button
    class="btn btn-default"
    *ngIf="!selected"
    (click)="select()">Select</button>
  <button
    class="btn btn-default"
    *ngIf="selected"
    (click)="deselect()">Remove</button>
  <a class="btn btn-default" [routerLink]="['/flight-booking/flight-edit', flight.id]" routerLinkActive="router-link-active" >Edit flight</a>
    <app-status-toggle [(status)]="flight.delayed"></app-status-toggle>
  </p>


  </div>
</div>
