<div class="card">

  <div class="header">
    <h2 class="title">Flight Search (try Wien to Berlin)</h2>
  </div>

  <div class="content">

  <form>
    <div class="form-group">
      <label>From:</label>
      <input name="from" class="form-control" [(ngModel)]="from" >
    </div>
    <div class="form-group">
      <label>To:</label>
      <input name="to" class="form-control" [(ngModel)]="to">
    </div>

    <div class="form-group">
      <button
        class="btn btn-default" (click)="search()">Search</button>
    </div>
  </form>
  </div>
</div>

<div class="card">

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights" [ngClass]="{active: selectedFlight==flight}">
        <td>{{flight.id}}</td>
        <td>{{flight.from | city:'long' | async}} ({{flight.from | city:'short'| async}})</td>
        <td>{{flight.to}}</td>
        <td [ngStyle]="{'color': flight.delayed | statusColor}" >{{flight.date | date:"dd.MM.yyyy HH:mm"}} </td>
        <td>
          <a (click)="select(flight)"  >Select</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="selectedFlight" class="card">

  <div>
  {{ message }}
  </div>

  <div class="form-group">
    <label>Id</label>
    <input class="form-control" [(ngModel)]="selectedFlight.id" >
  </div>

  <div class="form-group">
    <label>From</label>
    <input class="form-control"  [(ngModel)]="selectedFlight.from" >
  </div>
  <div class="form-group">
    <label>To</label>
    <input class="form-control"  [(ngModel)]="selectedFlight.to" >
  </div>
  <div class="form-group">
    <label>Date</label>
    <input class="form-control"  [(ngModel)]="selectedFlight.date" >
  </div>


  <button (click)="save()" class="btn btn-default">Save</button>

</div>
